body
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

svg
  #boid
    circle
      fill: black
    line, polyline
      stroke: black
      stroke-width: 2
      fill: none
      stroke-linecap: round
  circle
    stroke-width: 1
    //stroke: red
    fill: none
