body
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

svg
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  #boid
    circle
      fill: black
    line, polyline
      stroke: black
      stroke-width: 2
      fill: none
      stroke-linecap: round
